.support-window {
    background: url('../img/support-bg.png') no-repeat;
    background-size: cover;
    width: 651px;
    max-height: 757px;
    margin: 46px auto auto;
    padding-bottom: 40px;
    &__body {
        padding-top: 40px;
        height: 516px;
        overflow: auto;
        border-bottom: 1px solid #DBDBDB;
    }
    &__action {}
}

.message {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 0 20px;
    &__avatar {
        margin-right: 18px;
        width: 47px;
        height: 47px;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
    &__text {
        background: #F1F3F5;
        max-width: 470px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 24px;
        padding: 12px 15px 7px;
        min-height: 46px;
    }
    &.user {
        display: flex;
        flex-direction: row-reverse;
        .message__avatar {
            margin-right: 0;
            margin-left: 18px;
        }
    }
}

.last-date {
    position: relative;
    margin: 0 0 16px;
    text-align: center;
    &:after {
        content: "";
        position: absolute;
        background: #DBDBDB;
        width: 35%;
        height: 1px;
        right: 0;
        bottom: 12px;
    }
    &:before {
        content: "";
        position: absolute;
        background: #DBDBDB;
        width: 35%;
        height: 1px;
        left: 0;
        bottom: 12px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0;
    &-input {
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        border-radius: 4px;
        resize: none;
        outline: none;
        padding: 10px;
        font-size: 14px;
        line-height: 19px;
        color: #696969;
        min-height: 130px;
        margin-bottom: 20px;
    }
    &-btn {
        max-width: 144px;
    }
}