.content {
    width: 100%;
    padding: 12px 0;
    display: grid;
    grid-gap: 10px;
    @media screen and (min-width: 481px) {
        padding: 12px;
    }
    &__about {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        order: 1;
        @media screen and (min-width: 481px) {
            grid-template-columns: repeat(3, 1fr);
            order: 2;
        }
        &-item {
            width: 100%;
            height: 155px;
            background: var(--gray-light);
            padding: 15px;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: flex-end;
            &.blue {
                background: #90BCE8;
            }
            &.yellow {
                background: #FEBF26;
            }
            &:nth-child(3) {
                grid-column: 1 / -1;
                @media screen and (min-width: 481px) {
                    grid-column: 1 / -2;
                    grid-row: 2;
                }
            }
        }
    }
    &__info {
        display: grid;
        grid-gap: 7px;
        order: 2;
        &-item {
            background: var(--gray-dark);
            color: var(--white-primary);
            &:first-child {
                grid-row: 1/3;
                max-height: 210px;
                font-size: 18px;
                line-height: 26px;
                overflow-y: auto;
                padding: 20px 10px;
                text-align: center;
                @media screen and (min-width: 481px) {
                    padding: 30px 25px;
                    grid-row: 1/3;
                    grid-column: 1/3;
                    max-height: 492px;
                    overflow-y: hidden;
                    &:before {
                        content: "";
                        padding-top: 100%;
                        float: left;
                    }
                }
            }
            &:not(:first-child) {
                max-width: 102px;
                font-size: 14px;
                line-height: 20px;
                min-height: 102px;
                display: flex;
                align-items: flex-end;
                padding: 10px;
                @media screen and (min-width: 481px) {
                    max-width: unset;
                    min-height: unset;
                }
            }
            &:last-child {
                grid-row: 2;
            }
            &:nth-last-child(2) {
                grid-row: 1;
            }
        }
        @media screen and (min-width: 481px) {
            order: 1;
            grid-gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    &__form {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        order: 3;
        &-item {
            width: 100%;
            background: #E3EBD3;
            padding: 15px;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: flex-end;
            &:last-child {
                grid-row: 1/3;
                grid-column: -1/2;
                max-height: 492px;
                align-items: flex-start;
                overflow: hidden;
                &:before {
                    content: "";
                    padding-top: 100%;
                    float: left;
                }
            }
            &:nth-child(2) {
                background: url('../img/sprite.png') -241px no-repeat;
                color: var(--white-primary);
                cursor: pointer;
                position: relative;
                &:after {
                    content: "!";
                    opacity: 0;
                    position: absolute;
                    width: 61px;
                    height: 61px;
                    background: #FFFFFF;
                    color: #F55E62;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 36px;
                    line-height: 42px;
                }
                &:hover {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: url('../img/sprite.png') no-repeat;
                    .text {
                        display: none;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        @media screen and (min-width: 481px) {
            display: grid;
        }
    }
    &__conditions {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        order: 4;
        &-item {
            background: #FFAA87;
            width: 100%;
            height: 155px;
            padding: 15px;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: flex-end;
            &:nth-child(2) {
                grid-column: 1 / -1;
                grid-row: 1;
                @media screen and (min-width: 481px) {
                    grid-column: 2 / -1;
                    grid-row: 1;
                }
            }
            &.purple {
                background: #C7ABD4;
                grid-column: 2;
                grid-row: 2;
                @media screen and (min-width: 481px) {
                    grid-column: 3;
                }
            }
            &.red {
                background: #F55E62;
                @media screen and (min-width: 481px) {
                    grid-column: 1;
                    grid-row: 2;
                }
            }
        }
        @media screen and (min-width: 481px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}