.footer {
    width: 100%;
    background: var(--gray-primary);
    padding: 35px 0;
    display: flex;
    justify-content: center;
    &__content {
        font-size: var(--lg-font-size);
        line-height: 20px;
    }
}