.document {
    margin: 0;
    padding: 0;
    width: 100%;
    &__item {
        display: table;
        border-collapse: collapse;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &-title {
            overflow: hidden;
            position: relative;
            display: table-cell;
            vertical-align: bottom;
            width: 100%;
            &:after {
                content: '';
                position: absolute;
                bottom: 5px;
                margin-left: 10px;
                width: 100%;
                border-bottom: 1px dashed;
            }
        }
        &-value {
            display: table-cell;
            padding-left: 10px;
            white-space: nowrap;
            vertical-align: bottom;
            text-align: right;
        }
        &:nth-child(2) {
            .document__item-value {
                position: relative;
                left: -16px;
                padding: 0;
                margin-right: -16px;
                display: block;
            }
        }
    }
}