:root {
    /* colors */
    --black-primary: #000000;
    --white-primary: #ffffff;
    --gray-primary: #c4c4c4;
    --gray-light: #e8ebed;
    --gray-dark: #a2a9b7;
    /* typo font size */
    --lg-font-size: 24px;
    --md-font-size: 18px;
    --sm-font-size: 16px;
    --xs-font-size: 14px;
    /* typo line-height */
    --lg-line-height: 20px;
    --default-line-height: 1.5;
}