* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

p {
    margin: 0;
}

.main {
    flex: 1;
}