.btn {
    box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
    border-radius: 21px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 10px 22px;
    &:hover {
        background: #0f47a0;
    }
    &-primary {
        background: #0F54B9;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
}